{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
          <h1>{{ action }}</h1>
        </div>

        <form role="form">
          <div class="input-group">
            <input type="text" class="form-control" id="actionInput" placeholder="Enter Action">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Enter</button>
            </span>
          </div>
        </form>

        <h2>Action Log</h2>
        <div id="container"></div>
        <div id="log"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/libs/highcharts.js' %}"></script>
  <script type="text/javascript">

    var endpoint = "{% url 'action-api' %}";

    var getData = function() {
      $.ajax({
        type: 'GET',
        url: endpoint,
        dataType: 'json',
        async: true,
        cache: false,
        timeout: 10000,
        success: function(response) {
          var $log = $("#log");
          $log.empty();

          if (response.error) {
            console.log(response.error);
            return;
          }

          $.each(response, function(key, val) {
            $log.append($("<strong>"+key+":</strong>"));
            var ul = $('<ul class="list-unstyled list-inline"></ul>');
            $.each(val, function(idx, item) {
              ul.append($("<li>"+item.y+"</li>"));
            });
            $log.append(ul);
          });
        },
        complete: function() { getData(); }
      });
    };

    var postData = function(data) {
      return false;
      $.ajax({
        type: 'POST',
        url: endpoint,
        data: {new_message: data},
        async: true,
        cache: false,
        complete: function() { getData(); }
      });
    };

    $(document).ready(function() {
      //getData();

      var frm  = $("form");
      var inpt = $("#actionInput");
      frm.bind("submit", function(e) {
        e.preventDefault();
        postData(inpt.val());
        inpt.val("");
        return false;
      });

      Highcharts.setOptions({
          global: {
              useUTC: false
          }
      });

      var chart;
      $('#container').highcharts({
          chart: {
              type: 'spline',
              animation: Highcharts.svg, // don't animate in old IE
              marginRight: 10,
              events: {
                  load: function() {

                      // set up the updating of the chart each second
                      var chart = this;
                      var series = this.series;
                      setInterval(function() {
                          $.get(endpoint, function(data) {

                            // Handle error messages
                            if (data.error) {
                              console.log(data.error);
                              return;
                            }

                            // Set up a series for the data returned
                            $.each(data, function(key, obj) {

                              // Find the index of the series we're working with
                              var idx = -1;
                              $.each(series, function(jdx, obj) {
                                if (obj.name == obj.key) {
                                  idx = jdx;
                                  return false;
                                }
                              });

                              // Create a new series if the old one isn't found
                              if (idx < 0) {
                                chart.addSeries({id:key, name: key, data:[]}, false);
                                idx = series.length - 1;
                              }

                              curSeries = chart.get(key);
                              // Add all the points to the series...
                              $.each(obj, function(idx, obj) {
                                obj.id = key + parseInt(obj.x).toString();
                                obj.x  = new Date(obj.x*1000);
                                if (!chart.get(obj.id)) {
                                  shift = curSeries.data.length > 20;
                                  curSeries.addPoint(obj, true, shift);
                                }
                              });

                            });

                          });
                          //chart.redraw();
                          //series.addPoint([x, y], true, true);
                      }, 1000);
                  }
              }
          },
          title: {
              text: 'Live {{ action }} Data'
          },
          xAxis: {
              type: 'datetime',
              tickPixelInterval: 150
          },
          yAxis: {
              title: {
                  text: 'Value'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              formatter: function() {
                      return '<b>'+ this.series.name +'</b><br/>'+
                      Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                      Highcharts.numberFormat(this.y, 2);
              }
          },
          legend: {
              enabled: false
          },
          exporting: {
              enabled: false
          },
          series: []
      });

    });

  </script>
{% endblock %}
